
h2{
    text-align: center;
}


.section_login{
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_container_inpunt,.form-button{
    margin-top: 25px;
}

.login_img{
    width: 240px;
    height: 120px;
    border: 1px;
    border-radius: 60px;

}